<div class="post_form">
	<%= form_for @post do |f| %>
		
		<% if @post.errors.any? %>
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>

		<fieldset>
			<legend>Choose A Category</legend>
			<%= f.label :category %>
			<%= f.select :category, options_for_select(["",  "Art", "Books and Movies", "Clothing","Collectibles", "Computers & Related", "Construction Materials", "Crafts & Hobbies", "Entertainment", "Farm & Ranch","Food & Beverages","Free Stuff", "Gardening","Gifts", "Health & Beauty", "Home & Electronics","Inductrial & Commercial", "Jewelry & Gemstones", "Medical Supplies","Miscellaneous","Motorworld","Music","Office Supplies","Others","Pets/Animals","Photography","Real Estate & Notes","Services","Sporting Goods & Recreation","Tools","Toys & Games","Vacation & Travel"]) %>
		</fieldset>

		<fieldset>
			<legend>Describe Your Item</legend>
			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :description %>
			<%= f.text_area :description %>

			<%= f.label :value %>
			<%= f.text_field :value %>

			<%= f.label :exchange %>
			<%= f.text_field :exchange %>
		</fieldset>

		<fieldset>
			<legend>Location</legend>
			<%= f.label :city %>
			<%= f.text_field :city, class: "post_form_city" %>

			<%= f.label :state %>
			<%= f.text_field :state, class: "post_form_state" %>

		</fieldset>
		

		
		

		

		

		

		<%= f.submit class: 'button radius post_form_submit_button' %>
	<% end %>
</div>

















