<div class="row">
	<div class="large-9 columns">
		<ul class="example-orbit" data-orbit data-options = "resume_on_mouseout: true; timer_speed: 10000;">
			<li>
				<img src="/orbit2.png" alt="slide 1" />
				<!--<div class="orbit-caption">Caption One.</div>-->
			</li>
			<li>
				<img src="/orbit1.png" alt="slide 2" />
				<!--<div class="orbit-caption">Caption Two.</div>-->
			</li>
			<li>
				<img src="/orbit3.png" alt="slide 3" />
				<!-- <div class="orbit-caption">Caption Three.</div> -->
			</li>
		</ul>
	</div>

	<div class="large-3 columns">
		<div class="panel" id="home_page_panel">
			<h4>Welcome to Loco Trades</h4>
			<p>We are the go to site for barter trading</p>
			<p>Check out the Items that are being traded below</p>
		</div>
	</div>
</div>



<div class="row">
	<%if @posts.any? %>
		<% @posts.each do |post| %>
			<div class="large-3 columns">
				<div class="panel" id="post_index_panel">
					<% if post.albums.any? %>
						<%= link_to(image_tag(post.albums.first.image_url(:thumb)), post) %>
           <% else %>
					<% end %>
          <%= link_to (post) do %>
          <div class="post-info-display">
            <p class="post_index_title"><%= truncate(post.title, length: 55) %></p>
          </div>
          <div class="panel clearfix">
            <p class="post_index_seller  left"><i class="fi-torso"></i> <%= post.user.username %></p>
            <p class="post_index_value  right"><%= post.value %></p>
          </div>
            <div class="index_button_show"><%= (link_to "make an offer", post, class: "button tiny radius") unless post.albums.any? %></div>
          <% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
