<div class="row">
	<h1>Post show page</h1>
	<p><%= @post.title %></p>
	<p><%= @post.description %></p>
	<p><%= @post.value %></p>
	<p><%= @post.category %></p>
	<p><%= @post.city %></p>
	<p><%= @post.state %></p>
	<p><%= @post.exchange %></p>
</div>
