<div class="row">
	<h1>Post show page</h1>
	<p><%= @post.title %></p>
	<p><%= @post.description %></p>
	<p><%= @post.value %></p>
	<p><%= @post.category %></p>
	<p><%= @post.city %></p>
	<p><%= @post.state %></p>
	<p><%= @post.exchange %></p>
</div>

<div class="row">
	<div>
	  <% if @post.albums.any? %>
	    <%= render partial: 'posts/album', collection: @post.albums, :html => {:multipart => true } %>
	  <% else %>
	    <h2>Please Upload an image to increase your chances!</h2>
	  <% end %>
	</div>


	<div>
		<% if @user == current_user %>
			<%= render partial: 'albums/form' %>
		<% end %>
	</div>
</div>