<div class="row" id= "show_page_id">
  <div class="row">
    <div class="small-5 columns">
        <% if @post.albums.any? %>
          <ul class="clearing-thumbs" id="show_images" data-clearing> 
           
              <% for album in @post.albums do %>
                <li><%= link_to(image_tag(album.image_url), album.image_url) %></li>
              <% end %>
          </ul>
      
        <% else %>
         
        <% end %>
  	</div>
    <div class="small-7 small-centered columns">
      <h4><%= @post.title %></h4>
      <p>Value: <strong><%= @post.value %></strong></p>
      <p>Exchange Item: <strong><%= @post.exchange %></strong></p>
      <p>Location: <strong><%= @post.city %>, <%= @post.state %></strong></p>
      <% if @post.user == current_user %>

      <% else %>
        <button class="button radius" id="make_offer_button_top">Make an offer</button>
      <% end %>
    </div>
  </div>
  <dl class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">Description</a></dd>
  <dd><a href="#panel2-2">Value</a></dd>
  <dd><a href="#panel2-3">Exchange</a></dd>
  <dd><a href="#panel2-4">Location</a></dd>
</dl>
<div class="tabs-content" id="show_tabs_content">
  <div class="content active" id="panel2-1">
    <p><%= @post.description %></p>
  </div>
  <div class="content" id="panel2-2">
    <p><%= @post.value %></p>
  </div>
  <div class="content" id="panel2-3">
    <p><%= @post.exchange %></p>
  </div>
  <div class="content" id="panel2-4">
    <p><%= @post.city %>, <%= @post.state %></p>
  </div>
</div>
  
  <div>
	<% if @post.user == current_user %>
    <div>
      <%= link_to "edit post", edit_post_path(@post), class: "button tiny round" %>
    </div>
	<% end %>
</div>
  

<div>
  <% if @post.user == current_user %>
  <% else %>
  <%= render "comments/form" %>
  <% end %>
  
  <% if @comments.any? %>
  <h4>Current Offers</h4>
  <div class="list_of_offers"><%= nested_comments @comments %></div>
  <% else %>
  <h4>No offers yet</h4>
  <% end %>
  
</div>


</div>



